@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,700;1,400;1,700&family=Inter:wght@400;600&display=swap');

* {
    scroll-behavior: smooth;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    transition: .3s;
}

button:active {
    scale: .9;
}

.hero {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('./media/heroImage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.h-navbar {

    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 10px 20px;
    top: 0;
    background-color: #1d1d1d55;

}

.h-n-leftSide {

    display: flex;
    justify-content: space-between;
    width: 23%;

}

.h-n-lS-links {

    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.h-n-rightSide {

    display: flex;
    justify-content: space-between;
    width: 50%;

}

.h-n-rS-address {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 12;
    font-weight: 400;

}

.h-n-rS-button {

    background-color: transparent;
    color: #ebc52f;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    border: 2px solid #ebc52f;
    border-radius: 10px;

}

.h-header {

    color: #fff;
    font-family: 'Inria Serif', sans-serif;
    font-style: italic;
    font-size: 130px;
    font-weight: 700;
    margin: 0;

}

.h-text {

    color: #fff;
    font-family: 'Inria Serif', sans-serif;
    font-style: italic;
    font-size: 48px;
    font-weight: 400;
    margin: 0;

}

.about {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;

}

.a-flexbox {

    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;

}

.a-f-left-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
}

.a-f-left-block img {
    width: 100%;
}

.a-f-l-b-header {

    font-family: 'Inter', sans-serif;
    font-size: 54px;
    font-weight: 600;
    margin: 0;

}

.a-f-l-b-address {

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.a-f-right-block {

    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    width: 50%;

}

.rooms {

    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    width: 100%;

}

.r-flexbox {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 80px 0;

}

.r-f-texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-bottom: 80px;

}

.r-f-t-header {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 20px;

}

.r-f-t-text {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0;

}

.r-f-main {

    padding: 0;
    margin: 0 auto;
    width: 90%;
}

.r-f-m-blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.r-f-m-b-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
}

.r-f-m-blocks .pnlm-container {
    width: 65% !important;
    margin-bottom: 20px;
}

.r-f-m-b-c-header {
    
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 600;
    margin: 0;

}

.r-f-m-b-c-description {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.r-f-m-b-c-price {

    color: #ebc52f;
    font-family: 'Inria Serif', sans-serif;
    font-style: italic;
    font-size: 30;
    font-weight: 700;

}

.r-f-m-b-c-text {

    color: #fff;
    font-family: 'Inria Serif', sans-serif;
    font-style: italic;
    font-size: 16.4203px;
    font-weight: 700;

}

.r-f-m-b-c-button {

    background-color: #EBC52F;
    color: #1d1d1d;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 16.0998px;
    font-weight: 600;
    padding: 13px 23px;
    border: none;
    border-radius: 10px;

}

.gallery {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
    
}

.g-container {

    width: 90%;

}

.g-c-texts {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.g-c-t-header {
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.g-c-t-description {

    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 400;

}

.g-c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas: 
    "i1 i1 i1"
    "i2 i2 i3";
    margin-bottom: 40px;
}   
#g-c-g-img1 { grid-area: i1 }
#g-c-g-img2 { grid-area: i2 }
#g-c-g-img3 { grid-area: i3 }

.g-c-img {
    width: 100%;
}
.services {
    display: flex;
    justify-content: center;
    width: 100%;
}

.s-container {

    width: 95%;

}

.s-c-texts {
    width: 60%;
    margin: 0 auto;
}

.s-c-t-header {

    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 600;

}

.s-c-t-text {

    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 400;

}

.s-c-m-flexbox {

    display: flex;
    width: 100%

}

.s-c-m-f-img {
    width: 50%;
}

.s-c-m-flexboxes {
    margin: 40px auto;
    width: 90%;
}

.s-c-m-f-flexbox {

    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.s-c-m-f-f-block {
    padding: 0 20px;
}

.s-c-m-f-f-b-header {

    font-family: 'Inria Serif', sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;

}

.s-c-m-f-f-b-textOne {

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 26px;

}

.s-c-m-f-f-b-textTwo {

    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;

}

.features {

    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    width: 100%;

}

.f-flexbox {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-f-header {

    color: #EBC52F;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin-top: 80px;
    width: 100%;
    text-align: center;

}

.f-f-text {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;

}

.f-f-t-mark {

    font-family: 'Inria Serif', sans-serif;
    font-style: italic;

}

.f-f-main {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;

}

.f-f-m-b-holder {

    display: flex;
    align-items: flex-start;
    width: 45%;
    margin-bottom: 40px;

}

.f-f-m-b-h-container {
    margin-left: 20px;
}

.f-f-m-b-h-c-header {

    color: #ebc52f;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 12px 0;

}

.f-f-m-b-h-c-text {

    color: #fff;
    font-family: 'Inria Serif', sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    margin: 0;

}

.booking {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 760px;
    width: 100%;

}

.b-header {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 48.3582px;
    font-weight: 600;
    margin: 0 0 42px 0;

}

.b-text {

    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 23.2402px;
    font-weight: 400;
    margin-bottom: 79px;

}

.b-button {

    background-color: #ebc52f;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 26.4752px;
    font-weight: 600;
    padding: 21px 55px;
    border: 0;
    border-radius: 16.44px;
    text-decoration: none;

}

.location {

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1060px;
    width: 100%;

}

.l-img {
    width: 80%;
    border: none;
}

.l-header {

    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 93px;

}

.l-number {

    font-family: 'Inter', sans-serif;
    font-size: 23.2402px;
    font-weight: 400;
    margin: 0;

}

.l-email {

    font-family: 'Inter', sans-serif;
    font-size: 23.2402px;
    font-weight: 400;
    margin: 0 0 45px 0;

}

.l-container {

    margin-bottom: 119px;

}

.h-n-select {
    display: none;
}

a {
    text-decoration: none;
}

.pnf {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.pnf h1 {
    color: #EBC52F;
    font-size: 72px;
    margin: 0;
    margin-bottom: 20px;
}

.pnf p, .pnf div {
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.pnf div a {
    color: #EBC52F;
}
